<p id="notice"><%= notice %></p>

<h1>Datasets</h1>

<div class="form-group row justify-content-md-center">
  <%= form_tag(datasets_path, method: :get, class: "form-inline") do %>
    <div class="row mb-2">
      <%= search_field_tag :q, @q, class: "form-control", style: "width: 40em" %>
      <%= submit_tag 'Search', class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%= link_to dataset.title, dataset %></td>
        <td><%= dataset.user_id %></td>
        <td><%= link_to 'Edit', edit_dataset_path(dataset) %></td>
        <td><%= link_to 'Destroy', dataset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@datasets) %>

<br>

<%= link_to 'New Dataset', new_dataset_path %>
