<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-3 p-3">
    <% if @dataset.attachment.attached? %>
      <p>
        <%= link_to 'Download', rails_blob_path(@dataset.attachment) %>
      </p>
    <% end %>

    <ul>
      <li><%= link_to 'New Fileset', new_fileset_path(dataset_id: @dataset.id) %></li>
      <li><%= link_to 'Edit', edit_dataset_path(@dataset) %></li>
      <li><%= link_to 'Destroy', dataset_path(@dataset), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to 'Back', datasets_path %></li>
    </ul>
  </div>

  <div class="col-9 p-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" role="tab" href="#metadata">Metadata</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#readme">README</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#history">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#json-ld-ro-crate">JSON-LD (RO-Crate)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#json-ld">JSON-LD</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane show active p-3" id="metadata" role="tabpanel">
        <p>
          <strong>Title:</strong>
          <%= @dataset.title %>
        </p>

        <p>
          <strong>Alternative title:</strong>
          <%= @dataset.alternative_title %>
        </p>

        <p>
          <strong>Publisher:</strong>
          <%= @dataset.publisher %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @dataset.user_id %>
        </p>

        <% if @dataset.attachment.attached? %>
          <ul>
            <% Zip::File.open(ActiveStorage::Blob.service.path_for(@dataset.attachment.key)).each do |entry| %>
              <li><%= entry.name.force_encoding('UTF-8') %></li>
            <% end %>
          </ul>
        <% end %>

        <ul>
          <% @dataset.filesets.each do |fileset| %>
            <li>
              <%= link_to fileset.attachment.filename, fileset if fileset.attachment.attached? %>
              <br>
              <% if fileset.attachment.previewable? %>
                <%= link_to image_tag(fileset.attachment.preview(resize: "300x300>")), fileset if fileset.attachment.previewable? %>
              <% elsif fileset.attachment.variable? %>
                <%= link_to image_tag(fileset.attachment.variant(resize: "300x300>")), fileset if fileset.attachment.variable? %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane" id="readme" role="tabpanel">
        <div id="readme-content"></div>
      </div>

      <div class="tab-pane p-3" id="history" role="tabpanel">
        <ul>
          <% @dataset.versions.each do |version| %>
            <li><%= version.id %></li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane p-3" id="json-ld-ro-crate" role="tabpanel">
        <pre><%= JSON.pretty_generate(@dataset.ro_crate_jsonld) %></pre>
      </div>

      <div class="tab-pane p-3" id="json-ld" role="tabpanel">
        <pre><%= JSON.pretty_generate(JSON.parse(@dataset.to_jsonld(url: dataset_url(@dataset)))) %></pre>
      </div>
    </div>
  </div>
</div>
