<p id="notice"><%= notice %></p>

<p>
  <strong>Dataset:</strong>
  <%= @review.dataset_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
