<!DOCTYPE html>
<html>
  <head>
    <title>EnjuRdm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%= root_path %>">Enju RDM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= datasets_path %>">Dataset</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= filesets_path %>">Fileset</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= profiles_path %>">Profile</a>
            </li>
            <li class="nav-item dropdown show">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">User</a>
              <div class="dropdown-menu">
                <% if user_signed_in? %>
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                <% else %>
                  <%= link_to 'Login', new_user_session_path, class: "dropdown-item" %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="bd-footer p-3 bg-light">
      <div class="container">
      </div>
    </footer>
  </body>
</html>
