<p id="notice"><%= notice %></p>

<p>
  <strong>Dataset:</strong>
  <%= link_to @fileset.dataset.title, @fileset.dataset %>
</p>

<p>
  <%= link_to 'Download', rails_blob_path(@fileset.attachment) %>
</p>

<p>
  <% if @fileset.attachment.previewable? %>
    <%= link_to image_tag(@fileset.attachment.preview(resize: "300x300>")), @fileset.attachment if @fileset.attachment.previewable? %>
  <% elsif @fileset.attachment.variable? %>
    <%= link_to image_tag(@fileset.attachment.variant(resize: "300x300>")), @fileset.attachment if @fileset.attachment.variable? %>
  <% end %>
</p>

<%= link_to 'Edit', edit_fileset_path(@fileset) %> |
<%= link_to 'Back', filesets_path %>
